:root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #b7b7b7;
    --border-color: #eee;
    --bg-color: #e0e0e0;
    --neutral-color: #fff;
  }

.note {
    height: 25rem;
    background-color: white;
    margin: 2rem 0.75rem 0 0.75rem;
    margin-left: 0.75rem;
    border: 1px solid var(--border-color);
}

textarea {
  display: block;
  height: auto;
  border: none;
  height: 100%;
  width: 100%;
}

.button {
  background-color: var(--main-color);
  color: white;
  border: none;
  margin-top: 1rem;
  padding: 15px;
  float: right;
}

.button:hover {
  background-color: #0067cb;
}

.button:active{
  position:relative;
  background-color: var(--main-color);
}

@media screen and (min-width: 640px){
  .note {
    height: 12rem;
  }
  
}